@model List<Kategori>
@{
    ViewData["Title"] = "Kategori Listesi";
}

<h1 class="display-6">Kategori Listesi</h1>
<hr>
        @foreach (var k in Model)
    {
        <tr>
            <td>@k.Id</td>
            <td><a asp-controller="Home" asp-action="KitapListesi" asp-route-id=@k.Id>@k.Ad</a></td>
            <td>@k.Aciklama</td>
        </tr>
    }
