<div class="card">
    <div class="card-header bg-warning text-white fs-4">
        Kategori
    </div>
    <div class="card-body ">
        <h5 class="card-title">Kategori Bilgileri</h5>
        <p class="card-text">Kategorilere erişmek için tıklayınız.</p>
        <a class="btn btn-success"
           asp-area="Admin"
           asp-controller="Category"
           asp-action="Index">Kategoriler</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header bg-warning text-white fs-4">
        Yemek
    </div>
    <div class="card-body">
        <h5 class="card-title">Tarif Bilgileri</h5>
        <p class="card-text">Tariflere erişmek için tıklayınız.</p>
        <a class="btn btn-success"
           asp-area="Admin"
           asp-controller="Food"
           asp-action="Index">Tarifler</a>
    </div>
</div>