@model Kitap
@{
    ViewData["Title"] = "KitapEkle";
}
<h1 class="display-6">Yazar Ekle</h1>
<form asp-controller="Home" asp-action="KitapEkle" method="post">
    <div class="row">
        <div class="col-2">
            <label class="form-label" asp-for="Ad"></label>
        </div>
        <div class="col-4">
            <input class="form-label" type="text" asp-for="Ad">
        </div>
        <div class="col-2">
            <label class="form-select" aria-label="Default select example"></label>
        </div>
        <div class="col-4">
             <label class="form-select" aria-label="Default select example"></label>
             <option selected>Kategori Şeçiniz</option>
             <option value="1">Bilim Kurgu</option>
        </div>
        <div class="col-2">
            <label class="form-label" asp-for="Ozet"></label>
        </div>
        <div class="col-4">
            <input class="form-label" type="text" asp-for="Ozet">
        </div>


    </div>
</form>