@using DiariesFood.Web.Models.Dtos
@model List<FoodDto>

<div class="mt-4 row">

    @await Component.InvokeAsync("Categories")
    @await Html.PartialAsync("_Search")
</div>

<div class="row">
    @foreach (var foodDto in Model)
    {
        <div class="col-md-3 m-4">

            @await Html.PartialAsync("_FoodPartial", foodDto)

        </div>
    }

</div>